.containerf-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    background-color: black;
    color: white;
    padding:20px;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}
.containerf-1-into{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.containerf-1-into-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    font-size: 10px;
    height: 300px;
}

.item{
    min-height: 20px;
    height: 10px;
    font-family:  'Arial Narrow', Arial, sans-serif;

}
.item1,.item2,.item3{
    font-size:medium;
    font-weight: bold;
}
.item6{
    position: relative;
    top:15px
}
.item9{
    grid-row: 5;
}
.item10{
    grid-column: 2;
    grid-row: 5;
}
.item11{
    grid-row: 6;
}
.item12{
    grid-row: 6;
    grid-column: 2;
}
.item13{
    position: relative;
    top:-8px;
}

@media (max-width:905px){
    .containerf-1{
      flex-direction: column;
    }
    .containerf-1-into{
        align-items: center;
        text-align: center;
    }
    .containerf-1-into img{

        width: 100px;
        max-width: 200px;
    }
}
