.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.container-3-into{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-3-into button{
    max-width: 100px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color:rgb(239, 200, 27);
    color: white;
    border: none;
    
}