.container-5{
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 30px;
    gap: 20px;
}
.container-5-into-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-5-into-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
.container-5-into-grid-textarea, input{
    padding: 20px;
    min-width: 220px;
    line-height: normal;
}

.container-5-into-grid-textarea{
    grid-column: 1/3;
    grid-row: 2/4;
    padding-top: 40px;
}

@media (max-width:905px){
    .container-5{
        flex-direction: column-reverse;
       height: 120vh;
         padding: 10px;
    }
    .container-5-into-grid{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

    }
    .container-5-into-flex{
        justify-content: center;
        align-items: center;
    }
}