.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 80vh;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.container-3-into{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
