.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     padding: 30px;
    background-color: hsl(0, 0%, 90%);
}

.container-4-into{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-4-into-flex{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
   
}
.container-4-into-flex div{
    width: 20px;
    border-radius: 30px;
    background-color: rgb(239, 200, 27); 
}

@media (max-width:905px){
    .container-4{
        flex-direction: column;
        height: 120vh;
        padding: 10px;
    }
    .container-4-into{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .container-4-into-flex div{
          border-radius: 50px;
          height: 15px;
    }
    .container-4-into-flex{
        gap: 10px;
        padding-left: 10px;
    }
}
