@import url("./header.css");
@import url("./main-section1.css");
@import url(main-section2.css);
@import url(main-section3.css);
@import url(main-section4.css);
@import url(main-section5.css);
@import url(main-section6.css);
@import url(footer-section1.css);
*{
    margin:0px
}
button{
    max-width: 100px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color:rgb(239, 200, 27);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
   background-color: rgb(148, 124, 15);
}
span{
    color:rgb(239, 200, 27);
}

